<!DOCTYPE html>
<html>
<head>
  <title>CurrentUserModel</title>
  <%= stylesheet_link_tag    'current_user_model/application', media: 'current_user_model/application' %>
  <%= javascript_include_tag 'current_user_model/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
